@font-face {
  font-family: 'YS Display';
  font-weight: 500;
  src: url('./YS\ Display-Medium.ttf');
}

@font-face {
  font-family: 'YS Display';
  font-weight: 400;
  src: url('./YS\ Display-Regular.ttf');
}

@font-face {
  font-family: 'YS Display';
  font-weight: 300;
  src: url('./YS\ Display-Light.ttf');
}

@font-face {
  font-family: 'YS Display';
  font-weight: 500;
  src: url('./YS\ Text-Medium.ttf');
}

@font-face {
  font-family: 'YS Display';
  font-weight: 400;
  src: url('./YS\ Text-Regular.ttf');
}
